.card {
    padding: 1rem;
    background-color: $primary-color;
    border-radius: 8px;
    @include flex(space-between);
    flex-direction: column;

    .name {
        @include link();
    }

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
    
    .button {
        margin-top: 20px;
        @include button()
    }
}



